/* ROOT */
:root {
  --primary-color: rgba(219, 247, 252, 0.993);
  --secondary-color: rgb(234, 241, 241);
  --primary-box-shadow: rgba(17, 69, 128, 0.3) 0px 0px 0px 3px;
  --secondary-box-shadow: rgba(7, 7, 192, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
}

/* BODY */
body {
  font-family: "Inter", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  display: grid;
  grid-template-rows: auto 1fr;
  gap: 1.5rem;
  padding: 0.5vw 1vw;
  background-color: rgb(234, 241, 241);
}

/* HEADER */
header {
  padding: 2rem 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  font-size: 3.3rem;
  font-weight: 600;
  text-shadow: 1px 1px 0.5rem rgb(28, 91, 94);
  background-color: var(--primary-color);
  box-shadow: var(--primary-box-shadow), var(--secondary-box-shadow);
  border-radius: 20px;
}

header>img {
  aspect-ratio: 1;
  width: 4.2rem;
  height: 4.2rem;
  object-fit: cover;
}

/* MAIN */
main {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 2vw;
}

/* NAV */
nav {
  padding: 2rem;
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  background-color: var(--secondary-color);
  box-shadow: var(--primary-box-shadow), var(--secondary-box-shadow);
}

nav>div {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 0.5rem;
  align-items: center;
  justify-items: start;
  padding: 0.5rem;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  border-radius: 20px;
}

nav>div:hover {
  font-weight: 700;
  background-color: var(--primary-color);
}

nav img {
  width: 1.5rem;
}

/* PROJECTS LIST */
.projects {
  background-color: transparent;
  border: none;
  cursor: pointer;
  align-self: start;
  padding: 0;
}

.projects-holder {
  font-size: 0.9rem;
  display: block;
}

.active {
  display: none;
}

.listed-project {
  padding: 0.2rem;
  cursor: pointer;
}

.listed-project:hover {
  font-weight: bold;
}

.project-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* DELETE PROJECT */
.delete-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.delete-btn img {
  width: 1.1rem;
}

/* PROJECT FORM */
#project-form {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
}

#project-form label {
  display: flex;
  flex-direction: column;
  font-weight: 800;
  font-size: 0.8rem;
  gap: 0.2rem;
  margin-top: 1rem;
}

#project-form input[type="text"] {
  border-radius: 5px;
  font-size: 0.8rem;
  font-weight: 400;
  padding: 0.2rem 0.3rem;
  border: 2px solid #3868eb;
}

#project-form input[type="text"]:focus {
  outline: none;
  border: 2px solid #030303;
}

#project-form button {
  background-color: transparent;
  cursor: pointer;
  align-self: flex-end;
  border: none;
  transition: opacity 0.2s;
}

#project-form button img {
  width: 30px;
}

/* MAIN CONTENT */
.content {
  background-color: var(--secondary-color);
  border-radius: 20px;
  display: flex;
  padding: 1rem 1.5rem;
  box-shadow: var(--primary-box-shadow), var(--secondary-box-shadow);
}

.content-heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: fit-content;
}

.project-title {
  text-shadow: 1px 1px 0.5rem rgb(28, 91, 94);
}

.add-todo {
  display: flex;
  align-items: center;
  background-color: transparent;
  border: none;
  font-size: 1.1rem;
  gap: 0.3rem;
  font-family: inherit;
  font-weight: 500;
  cursor: pointer;
}

.add-todo img {
  width: 1.6rem;
}

/* TODO MODAL */
#todo-modal {
  border: none;
  background-color: rgb(58, 68, 80);
  border-radius: 10px;
  padding: 1.4rem;
  color: rgb(248, 244, 222);
  width: 20vw;
  box-shadow: var(--secondary-box-shadow);
}

#todo-modal::backdrop {
  backdrop-filter: blur(5px);
  cursor: pointer;
}

#todo-form {
  display: grid;
  gap: 1rem;
}

#todo-form label {
  font-size: 0.7rem;
  margin-left: 0.15rem;
}

.input-fields {
  border: none;
  display: grid;
  gap: 1rem;
}

.input-fields textarea {
  resize: vertical;
}

.input-fields div {
  display: flex;
  flex-direction: column;
  gap: 0.1rem;
}

.input-fields input,
.input-fields textarea,
.priority-fields select {
  background-color: rgb(197, 206, 207);
  font-size: 0.8rem;
  padding: 0.7rem;
  border-radius: 7px;
  border: 1px solid rgb(98, 112, 112);
}

.input-fields input:focus,
.input-fields textarea:focus,
.priority-fields select:focus {
  outline: none;
  border: 1px solid #3868eb;
}

.priority-fields {
  border: none;
  display: grid;
  gap: 0.1rem;
}

.todo-btn-fields {
  border: none;
  display: flex;
  gap: 0.5rem;
  justify-content: center;
}

.todo-btn-fields button {
  border: none;
  padding: 0.5rem 2rem;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  width: 100%;
  color: white;
  font-weight: 500;
}

.submit-todo {
  background-color: #3868eb;

}

.cancel-todo {
  background-color: rgb(80, 88, 88);
}

/* GENERAL BEHAVIOR */
button:hover {
  opacity: 0.7;
}

button:active {
  opacity: 0.5;
}

input:user-valid {
  border: 1px solid green;
}

input:user-invalid {
  border: 1px solid red;
}